<a href="https://colab.research.google.com/github/pedrofranke/ProyectoFinal-Henry/blob/main/Ejemplos_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Finance API - yfinance

In [1]:
import yfinance as yf

ticker_symbol = "AAPL"

empresa = yf.Ticker(ticker_symbol)

market_cap = empresa.info["marketCap"]

print(f"Capitalización de mercado de {ticker_symbol}: {market_cap}")

Capitalización de mercado de AAPL: 2960644636672

### Geolocalization API - geopy

In [26]:
from geopy import distance, Nominatim

geolocator = Nominatim(user_agent='pef999@hotmail.com')

In [28]:
punto1 = (-26.738244,-65.252012)
punto2 = (-34.6157437, -58.573385)

print(geolocator.reverse(punto1).raw['address']['state'])

print(f'Distancia de {int(round(distance.geodesic(punto1, punto2).km,0))} kilometros entre puntos')

#df_clientes.loc[3310, 'Pais'] = geolocator.reverse(df_clientes.loc[3310, ['Latitud', 'Longitud']].values).raw['address']['country']

Tucumán
Distancia de 1082 kilometros entre puntos

In [44]:
import pandas as pd
from geopy import Nominatim

geolocator = Nominatim(user_agent='pef999@hotmail.com')

def state(df,output='State',latitud='Latitud',longitud='Longitud'):
    def locador(row):
        if pd.notna(row[latitud]) and pd.notna(row[longitud]):
            x = geolocator.reverse(row[[latitud,longitud]].values).raw['address']['state']
        return x

    df[output] = df.apply(locador,axis=1)
    return df

In [45]:
dic = {'State':[None,None,None],
       'Longitud':[-58.458297,-58.491426,-58.512714],
       'Latitud':[-34.560158,-34.645848,-34.577866]
       }

df = pd.DataFrame(dic)
df

  State   Longitud    Latitud
0  None -58.458297 -34.560158
1  None -58.491426 -34.645848
2  None -58.512714 -34.577866

In [46]:
state(df)

                             State   Longitud    Latitud
0  Ciudad Autónoma de Buenos Aires -58.458297 -34.560158
1  Ciudad Autónoma de Buenos Aires -58.491426 -34.645848
2  Ciudad Autónoma de Buenos Aires -58.512714 -34.577866

### Importacion de google drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
df.shape

(2105597, 22)