## Importing the necessary libraries

These libraries assist us in manipulating the data to ensure consistency and quality. Additionally, we import our custom module named 'tools' to aid in this entire process.

In [1]:
import pandas as pd
import Tools as T
import warnings
warnings.filterwarnings("ignore")

## Data Loading

In [2]:
df_reviews = T.AbrirJsonYelp('review-001.json')

## Transformations

We will proceed to delete the columns that contain three types of ratings:

* cool
* funny
* useful

Since we will conduct our own sentiment analysis.

In [3]:
df_reviews = df_reviews.drop(columns=['cool','funny','useful'])
df_reviews

,review_id,user_id,business_id,stars,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
...,...,...,...,...,...,...
6990275,H0RIamZu0B0Ei0P4aeh3sQ,qskILQ3k0I_qcCMI-k6_QQ,jals67o91gcrD4DC81Vk6w,5.0,Latest addition to services from ICCU is Apple...,2014-12-17 21:45:20
6990276,shTPgbgdwTHSuU67mGCmZQ,Zo0th2m8Ez4gLSbHftiQvg,2vLksaMmSEcGbjI5gywpZA,5.0,"This spot offers a great, affordable east week...",2021-03-31 16:55:10
6990277,YNfNhgZlaaCO5Q_YJR4rEw,mm6E4FbCMwJmb7kPDZ5v2Q,R1khUUxidqfaJmcpmGd4aw,4.0,This Home Depot won me over when I needed to g...,2019-12-30 03:56:30
6990278,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5.0,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27
6990279,RwcKOdEuLRHNJe4M9-qpqg,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3.0,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

The proper deletion of the columns is verified, ensuring that the change has been made correctly. Now, we can check for null values and determine the data types present in each column.

In [4]:
T.analizar_datos(df_reviews)

,Nombre,Tipos de Datos Únicos,% de Valores No Nulos,% de Valores Nulos,Cantidad de Valores Nulos
0,review_id,[<class 'str'>],100.0,0.0,0
1,user_id,[<class 'str'>],100.0,0.0,0
2,business_id,[<class 'str'>],100.0,0.0,0
3,stars,[<class 'float'>],100.0,0.0,0
4,text,[<class 'str'>],100.0,0.0,0
5,date,[<class 'str'>],100.0,0.0,0

## Column ``Date``

It was observed that we have a column with hours and dates in string format. Therefore, the pandas library was used to handle it and convert it to a date format (datetime). pandas was chosen for its versatility compared to standard Python functions.

In [5]:
df_reviews['date'] = pd.to_datetime(df_reviews['date'],format='%Y-%m-%d %H:%M:%S')
df_reviews

,review_id,user_id,business_id,stars,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
...,...,...,...,...,...,...
6990275,H0RIamZu0B0Ei0P4aeh3sQ,qskILQ3k0I_qcCMI-k6_QQ,jals67o91gcrD4DC81Vk6w,5.0,Latest addition to services from ICCU is Apple...,2014-12-17 21:45:20
6990276,shTPgbgdwTHSuU67mGCmZQ,Zo0th2m8Ez4gLSbHftiQvg,2vLksaMmSEcGbjI5gywpZA,5.0,"This spot offers a great, affordable east week...",2021-03-31 16:55:10
6990277,YNfNhgZlaaCO5Q_YJR4rEw,mm6E4FbCMwJmb7kPDZ5v2Q,R1khUUxidqfaJmcpmGd4aw,4.0,This Home Depot won me over when I needed to g...,2019-12-30 03:56:30
6990278,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5.0,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27
6990279,RwcKOdEuLRHNJe4M9-qpqg,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3.0,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

## Column ``review_id``

We will start by searching for null values using a function from our custom module.

In [6]:
T.nulls(df_reviews,'review_id')

The column "review_id" does not have nulls

Empty DataFrame
Columns: [review_id, user_id, business_id, stars, text, date]
Index: []

We are going to check if there are any empty records.

In [7]:
T.empty_values(df_reviews,'review_id')

The column "review_id" does not have empty values

We are going to check if there are any duplicate data.

In [8]:
T.duplicates(df_reviews)

Empty DataFrame
Columns: [review_id, user_id, business_id, stars, text, date]
Index: []

We observe that, by not finding duplicates, we can conclude that there is no user who has made more than one review for the same place. Additionally, there are no empty or null values, indicating that the information is complete and consistent.

## Column ``text``

We will start by searching for null values using a function from our custom module.

In [9]:
T.nulls(df_reviews,'text')

The column "text" does not have nulls

Empty DataFrame
Columns: [review_id, user_id, business_id, stars, text, date]
Index: []

We are going to check if there are any empty records.

In [10]:
T.empty_values(df_reviews,'text')

The column "text" does not have empty values

Some comments are repeated up to 10 times, as shown for visualization purposes.

In [11]:
df_reviews['text'].value_counts().head()

text
DO NOT PARK HERE!\nthey are too quick to boot you!\n$144 to remove a boot.\nIf you lose track of time (a normal affair in New Orleans, having fun) and even if (like I did) you add time, they get you in between!!!!\nAVOID ALL PREMIUM PARKING LOTS!!\nThere are so many other options near by!\nTrust me!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     18
I had a terrible experience with the customer service side of Club Fitness.  I was in St. Louis for 2 months this summer for my job, and I joined for those dates.  The gym stipulates when you join that should you like to cancel, you need to do so online and 30 days before you are charged again.  I knew when I would be leaving, so I put this in my calendar, and made sure to cancel on time.  I followed through with this and double-checked on my last day by going up to the counter, asking them to make sure my account was cancelled, and they said everything looked good.  \n\nI got back to my home in Illinois, and have been charged every month since leaving.  I called customer service, completely confused as to why I have been charged.  They claim that they have no recollection of my cancellation online, and therefore will not reimburse me.  Additionally, I asked right then and there to cancel my account immediately, they said, "You must cancel online only, we can't do it over the phone."  Which probably means I will be charged again, since I need to give 30 days notice.  UNBELIEVABLE.  The confirmation email from my original cancellation no longer exists (why would it, because the gym confirmed it with me on my last day at the gym) so I have no proof that I cancelled.  It is their word against mine.  \n\nI had a nice time working out at the gym, but I have NEVER had to deal with such bad customer service in my life.  I am out a lot of money, and it was never my fault.  I say to you: stay away!!!!    11
We had mistakenly been short paying our car loan by a whopping $1.83 per month... Totally our fault. BUT, instead of calling all of our contact numbers or sending us a letter, SSFCU reports this to the credit bureaus and dings my wife's and my credit by 100 points. When called about this, they said "not our fault".  I will be ending my relationship as soon as I can, and I will go with a credit union that care enough to call/mail about things like this before killing my credit. A little human touch vs. automated calling would have solved this.  All for $1.83/month...nice customer service!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               10
Your review helps others learn about great local businesses.\n\nPlease don't review this business if you received a freebie for writing this review, or if you're connected in any way to the owner or employees.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                10
At the height of the Omicron surge, Wendy's DOES NOT REQUIRE THEIR FOOD HANDLER EMPLOYEES TO WEAR MASKS! This is the height of corporate irresponsibility and lack of caring for their customers as well as their employees. Not going there any time soon and suggest you consider this wreckless no-health policy before you take a bite. If they can't be bothered, then neither can I.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       10
Name: count, dtype: int64

## Column ``stars``

We will start by searching for null values using a function from our custom module.

In [12]:
T.nulls(df_reviews,'stars')

The column "stars" does not have nulls

Empty DataFrame
Columns: [review_id, user_id, business_id, stars, text, date]
Index: []

We are going to check if there are any empty records.

In [13]:
T.empty_values(df_reviews,'stars')

The column "stars" does not have empty values

It can be observed that the vast majority tends to rate restaurants with 5 stars. This is presented for visualization purposes.

In [14]:
T.cantidad_porcentaje(df_reviews,'stars')

Los valores de stars:
5.0    3231627
4.0    1452918
1.0    1069561
3.0     691934
2.0     544240

El porcentaje que representa cada valor:
5.0    46.23
4.0    20.78
1.0    15.30
3.0     9.90
2.0     7.79

## Column ``business_id``

We will start by searching for null values using a function from our custom module.

In [15]:
T.nulls(df_reviews,'business_id')

The column "business_id" does not have nulls

Empty DataFrame
Columns: [review_id, user_id, business_id, stars, text, date]
Index: []

We are going to check if there are any empty records.

In [16]:
T.empty_values(df_reviews,'business_id')

The column "business_id" does not have empty values

It can be observed that the top five businesses have more than five thousand and up to over seven thousand reviews by customers. These data are presented for visualization purposes.

In [17]:
df_reviews['business_id'].value_counts().head()

business_id
_ab50qdWOk0DdB6XOrBitw    7673
ac1AeYqs8Z4_e2X5M3if2A    7516
GXFMD0Z4jEVZBCsbPf4CTQ    6160
ytynqOUb3hjKeJfRj5Tshw    5778
oBNrLz4EDhiscSlbOl8uAw    5264
Name: count, dtype: int64

## Column ``user_id``

We will start by searching for null values using a function from our custom module.

In [18]:
T.nulls(df_reviews,'user_id')

The column "user_id" does not have nulls

Empty DataFrame
Columns: [review_id, user_id, business_id, stars, text, date]
Index: []

We are going to check if there are any empty records.

In [19]:
T.empty_values(df_reviews,'user_id')

The column "user_id" does not have empty values

It can be observed that the top five users have more than fifteen hundred and up to over three thousand reviews. These data are presented for visualization purposes.

In [20]:
df_reviews['user_id'].value_counts().head()

user_id
_BcWyKQL16ndpBdggh2kNA    3048
Xw7ZjaGfr0WNVt6s_5KZfA    1840
0Igx-a1wAstiBDerGxXk2A    1747
-G7Zkl1wIWBBmD0KRy_sCw    1682
ET8n-r7glWYqZhuR6GcdNw    1653
Name: count, dtype: int64

After analyzing all the columns, an additional column called 'id_review_yelp' will be added, which will help us identify from which platform the user is at the time of connecting the information with Google's data.

In [21]:
df_reviews['id_review_yelp'] = range(0,len(df_reviews))

## Exporting the Data

In [23]:
df_reviews.to_parquet('df_reviews.parquet')

Once this ETL is completed, we will move on to the next one for users.